// SECTION :: START

section#landing.landing
  .c-grid

    .landing__container

      .landing__wrapper.landing__wrapper-1

        .landing__row
          .landing__col.landing__col-1

            ul.footer__social
              li
                a(href="#")
                  img(src="img/discord.svg" alt="")
              li
                a(href="#")
                  img(src="img/telegram.svg" alt="")
              li
                a(href="#")
                  img(src="img/twitter.svg" alt="")
              li
                a(href="#")
                  img(src="img/instagram.png" srcset="img/instagram@2x.png 2x" alt="")

          .landing__col.landing__col-2

            .logo.logo--landing
              a.logo__btn(href="#")
                img(src="img/logo-landing.png" srcset="img/logo-landing@2x.png 2x" alt="")

          .landing__col.landing__col-3

        .landing__timer-wrapper
          p.landing__timer-title NEXT LAUNCH:
          .landing__timer
            .container-countdown
              section.countdown-block
                span.days.time-element
                  u
                  span.top 00
                  span.top-back
                    span 00
                  span.bottom 00
                  span.bottom-back
                    span 00
                h2.subtitle Days
              section.countdown-block
                span.hours.time-element
                  u
                  span.top 00
                  span.top-back
                    span 00
                  span.bottom 00
                  span.bottom-back
                    span 00
                h2.subtitle Hours
              section.countdown-block
                span.minutes.time-element
                  u
                  span.top 00
                  span.top-back
                    span 00
                  span.bottom 00
                  span.bottom-back
                    span 00
                h2.subtitle Minutes
              section.countdown-block
                span.seconds.time-element
                  u
                  span.top 00
                  span.top-back
                    span 00
                  span.bottom 00
                  span.bottom-back
                    span 00
                h2.subtitle Seconds

      .landing__wrapper.landing__wrapper-2

        p.landing__heading LEARN MORE BY READING OUR: WHITEPAPER - ROADMAP - TOKENOMICS
        p.landing__desc!= "The giving platform will be hosting ten (10) initial launches of 125,000,000 Giv tokens. <br>these tokens are to be the circulating supply for giv."
        p.landing__desc The private sale for each period will run until the lot of GIV is fully sold or until each Limited Sale is closed.

      .landing__wrapper.landing__wrapper-3

        .milestone__table-scroll-wrapper
          .milestone__table-scroll
            img.milestone__table(src="img/img-milestone-1.png" srcset="img/img-milestone-1@2x.png 2x" alt="")

      .landing__wrapper.landing__wrapper-4
        p.landing__subtitle Join our community today for more insights!

// SECTION :: END
