// SECTION :: START

section#roadmap.roadmap
  .c-grid
    .roadmap__wrapper

      h2.roadmap__title Roadmap

      .roadmap__block
        h3.roadmap__block-title STAGE 1

        ul.roadmap__box
          li Deploy $GIV token’s Smart contract and dApp development
          li Begin marketing
          li Create Partnerships with charities for giv’s first pool
          li Launch Pre-sale #1

      .roadmap__block
        h3.roadmap__block-title Stage 2

        ul.roadmap__box
          li Begin Hosting discord and Telegegram discussions / polls
          li Launch Pre-sale #2
          li Start the first “giving pool”
          li Launch Pre-sale #3

      .roadmap__block
        h3.roadmap__block-title Stage 3

        ul.roadmap__box
          li Create community to actively seek and share charities for the pool
          li Begin Pre-sale #4
          li host Q&A meets with local charities
          li Launch $GIV Public Sale

// SECTION :: END
