// SECTION :: START

section#token.token
  .c-grid
    .token__wrapper
      .token__wrapper-left

        h2.token__title!= "the giving Token: <span>$GIV</span>"

        .token__section
          p $GIV Token Address: 0x764cF690A710853B4ac02A3d48cb12c12eB18f4A
          p $GIV is created with a Tax structure that enables a constant flow of fundraising and rewards.
          p 10% transaction fee – This fee gets split up and redistributed.
          p 5% to be converted to ETH and fund to the Giving Pool
          p 5% to be converted to USDT and distributed into the wallets of $GIV holders
          p A locked Giveaway wallet is created to earn rewards and host giveaways / airdrops throughout the community.

      .token__wrapper-middle

        .roadmap__block
          h3.roadmap__block-title Pool Candidates

          ul.roadmap__box
            li Candidate name (link to site) and description
            li Candidate name (link to site) and description
            li Candidate name (link to site) and description
            li Candidate name (link to site) and description
            li Candidate name (link to site) and description

      .token__wrapper-right

        .roadmap__block
          h3.roadmap__block-title Trending on GIV

          ul.roadmap__box
            li Article name and description:
            li Article name and description:
            li Article name and description:
            li Article name and description:
            li Article name and description:

// SECTION :: END
