// SECTION :: START

.milestone {
  padding-top: 100px;
  padding-bottom: 100px;
  @include adaptive(1279) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @include adaptive(767) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__title {
    padding-bottom: 50px;
    font-weight: 900;
    font-size: 40px;
    line-height: 74px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #FFFFFF;
    @include adaptive(1023) {
      font-size: 35px;
    }
    @include adaptive(767) {
      font-size: 30px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px 80px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(90deg, #09103A 0%, #493E3E 45.83%, #09103A 100%);
    @include adaptive(1365) {
      padding: 50px 50px 30px;
    }
    @include adaptive(767) {
      padding: 40px 20px 20px;
    }

    .milestone__title {
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: center;
      font-size: 48px;
      @include adaptive(1439) {
        font-size: 42px;
      }
      @include adaptive(1023) {
        font-size: 35px;
      }
      @include adaptive(767) {
        font-size: 30px;
      }
    }

    > img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto 40px;
    }
  }

  &__list,
  &__desc {
    width: 100%;
    max-width: 1325px;
    margin-left: auto;
    margin-right: auto;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
    list-style-type: disc;

    li {
      list-style-type: disc;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      @include adaptive(1365) {
        font-size: 18px;
      }
      @include adaptive(767) {
        font-size: 14px;
      }

      span {
        color: #f53548;
        font-size: 24px;
        @include adaptive(1365) {
          font-size: 22px;
        }
        @include adaptive(767) {
          font-size: 18px;
        }
      }
    }
  }

  &__desc {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    @include adaptive(1365) {
      font-size: 18px;
    }
    @include adaptive(767) {
      font-size: 14px;
    }

    span {
      font-size: 24px;
      @include adaptive(1365) {
        font-size: 22px;
      }
      @include adaptive(767) {
        font-size: 18px;
      }
    }
  }

  &__table {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 40px auto;
    @include adaptive(767) {
      margin-right: 0;
    }

    &-scroll {
      @include adaptive(767) {
        width: 1023px;
      }

      &-wrapper {
        @include adaptive(767) {
          overflow: hidden;
          overflow-x: auto;
          white-space: nowrap;
          position: relative;
          width: calc(100% + 40px);
          padding-left: 20px;
        }
      }
    }
  }
}

// SECTION :: END
