// HEADER :: START

nav#header.header
  .c-grid-fluid
    .header__wrapper
      .header__wrapper-left

        div
          .logo.logo--header
            a.logo__btn(href="/index.html")
              img(src="img/logo.png" srcset='img/logo@2x.png 2x' alt="")

          .c-btn__wrapper
            a.c-btn(href="#")
             span THE GIVING pool

        div

          +hamburger

      .header__wrapper-mobile(mobile-block-js)

        .header__wrapper-middle

          mav.header__nav
            a(href="/roadmap-1.html" class!= (pageClassName === 'p-roadmap')?'is-active':'') Roadmap
            a(href="/whitepaper.html" class!= (pageClassName === 'p-whitepaper')?'is-active':'') WHITEPAPER
            a(href="/tokenomics.html" class!= (pageClassName === 'p-tokenomics')?'is-active':'') Tokenomics

        .header__wrapper-right

          .c-btn__wrapper
            a.c-btn(href="#")
              span chart
            a.c-btn(href="#")
              span buy now
            a.c-btn(href="#")
              span Connect wallet

// HEADER :: END
