include ../utilities/_mixin

doctype html
html(lang="en")

  head
    include _head

  body


    block header
      include ../components/common/_header

    block content

    block footer
      include ../components/common/_footer

    mixin modalContent()
      .c-modal__body
        a(href="#" popup-close-js) Continue to website


    +modal('welcomeModal', 'modalContent')
    a(href="#welcomeModal" data-effect='mfp-zoom-in' popup-js)


  block script
    include _script
