-
  const project = 'The Giving Pool';
  const pages = [{
      name: 'Homepage',
      href: 'index.html',
      progress: '95'
    }, {
      name: 'Homepage Design',
      href: 'homepage.html',
      progress: '1'
    }, {
      name: 'WhitePaper',
      href: 'whitepaper.html',
      progress: '95'
    }, {
      name: 'Roadmap',
      href: 'roadmap.html',
      progress: '95'
    }, {
      name: 'Roadmap',
      href: 'roadmap-1.html',
      progress: '95'
    }, {
      name: 'Tokenomics',
      href: 'tokenomics.html',
      progress: '95'
    }
  ];
