-
  const project = 'The Giving Pool';
  const pages = [{
      name: 'Homepage',
      href: 'index.html',
      progress: '100'
    }, {
      name: 'WhitePaper',
      href: 'whitepaper.html',
      progress: '100'
    }, {
      name: 'Landing',
      href: 'landing.html',
      progress: '100'
    }, {
      name: 'Roadmap',
      href: 'roadmap.html',
      progress: '100'
    }, {
      name: 'Tokenomics',
      href: 'tokenomics.html',
      progress: '100'
    }
  ];
